.total-container {
 display: grid;
 grid-template-rows: 15vmin 80vmin;
}

.heading-container {
  display: grid;
  grid-template-rows: 60% 40%;
}

.title {
  text-align: center;
  margin: 0;
  padding: 1%;
  padding-top: 8px;
}

.board-labels {
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: bolder;
}

.label-title {
  text-align: center;
  padding-bottom: 0px;
}

.board-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.home-board {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 90%;
  min-width: 90%;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.radar {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 90%;
  min-width: 90%;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.tile {
  display: flex;
  border: 0.5px solid black;
}