.temp {
  display: inline-block;
}

.total-container {
  background-color: transparent;
  display: grid;
  grid-template-rows: 15vmin 80vmin;
  min-width: 850px;
  min-height: 500px;
}

.heading-container {
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: darkgray;
  border: 8px groove gray;
  border-radius: 2px;
  z-index: 6;
}

.title {
  text-align: center;
  margin: 0;
  padding: 1%;
  padding-top: 8px;
}

.board-labels {
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: bolder;
}

.label-title {
  text-align: center;
  padding-bottom: 0px;
}

.board-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.home-board {
  background-image: url("./ocean.jpg");
  color: limegreen;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 96%;
  min-width: 87%;
  max-height: 100%;
  max-width: 97%;
  border: 00px solid transparent;
  margin-left: 5px;
  border: 15px ridge gray;
}

.setup {
  min-height: 96%;
  min-width: 87%;
  max-width: 97%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 15px ridge gray;
  background-image: url('./radar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ship-button {
  width: 250px;
  height: 25px;
  margin: 5px;
}

.description {
  position: sticky;
  top: 40%;
  text-align: center;
  color: #13D8EF;
  font-weight: bolder;
  text-decoration: underline;
}

@keyframes scanner {
  0% {
      width: 1000%;
      position: relative;
      top: -7200%;
    }
  100% {
    width: 1000%;
    position: relative;
    top: -70%;
  }
}

/* .scanner {
  z-index: 5;
  animation-name: scanner;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.7;
  max-width: 1000%;
  min-width: 999%;
  position: absolute;
  top: 150px;
  border-top: 10px solid #02F807;
} */

.radar {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 96%;
  min-width: 87%;
  max-height: 100%;
  max-width: 97%;
  padding: 00px;
  background-color: transparent;
  margin-right: 5px;
  margin-bottom: white;
  border: 15px ridge gray;
}

.tile {
  display: flex;
  border: 0.5px solid black;
  justify-content: center;
  align-items: center;
}

.tile-hit {
  background-image: url('./kaboom png.png');
  background-position: center;
  background-size: 170%;
  display: flex;
  border: 0.5px solid black;
  justify-content: center;
  align-items: center;
}

.tile-miss {
  background-image: url('./splash\ png.png');
  background-position: center;
  background-size: 170%;
  display: flex;
  border: 0.5px solid black;
  justify-content: center;
  align-items: center;
}

.radar-tile {
  background-color: black;
  display: flex;
  border: 0.5px solid #02F807;
  justify-content: center;
  align-items: center;
  color: red;
}

.start-button-grey {
  position: absolute;
  bottom: 65px;
  color: darkgrey
}

.start-button-grey:hover {

}

.start-button-red {
  position: absolute;
  bottom: 65px;
  background-color: red;
}

.arrow {
  width: 0;
  height: 0;
  border-bottom: 55px solid #01CC01;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin: 10px;
  margin-top: 30px;
  position: sticky;
  top: 51%;
}

.up {
  transform: rotate(0deg)
}

.right {
  transform: rotate(90deg)
}

.down {
  transform: rotate(180deg)
}

.left {
  transform: rotate(-90deg)
}

.restart {
  max-width: 100px;
  max-height: 30px;
  margin: auto;
}